@model IEnumerable<MobileScreenModel>
@{
    string CurrentController = ConstController.MobileScreen;
    string CurrentArea = ConstArea.Permission;
}
<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.ScreenName)</th>
            <th>@Html.DisplayNameFor(p => p.ScreenCode)</th>
            @*<th>@Html.DisplayNameFor(p => p.MenuId)</th>*@
            <th class="text-center">@Html.DisplayNameFor(p => p.OrderIndex)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.IconType)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.IconName)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.Actived)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.ScreenName)</td>
                <td>@Html.DisplayFor(p => item.ScreenCode)</td>
                @*<td>@Html.DisplayFor(p => item.MenuModel.MenuName)</td>*@
                <td class="text-center">@Html.DisplayFor(p => item.OrderIndex)</td>
                <td>@Html.DisplayFor(p => item.IconType)</td>
                <td>@Html.DisplayFor(p => item.IconName)</td>

                <td class="text-center">@HtmlExtensions.ActivedIcon(item.Actived)</td>
                <td class="text-center">
                    @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.MobileScreenId)
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.ScreenName, item.MobileScreenId)
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>





