@model TaskPopupViewModel

<div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">@Model.Title</h4>
</div>
<div class="modal-body">
    <div id="divAlertWarningTask" class="alert alert-warning alert-dismissable divPopupMessage" style="display: none">
        <button type="button" class="alert-close close" aria-hidden="true" data-div="divAlertWarning">×</button>
        <div class="alert-message">
        </div>
    </div>
    <div class="content">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmSaveTaskStatus" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(p => p.TaskId)

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.TooltipLabelFor(p => p.TaskStatusId)
                    </div>
                    <div class="col-md-8">
                        @Html.RequiredDropDownListFor(p => p.TaskStatusId, null, LanguageResource.Dropdownlist_Choose)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.TooltipLabelFor(p => p.Comment)
                    </div>
                    <div class="col-md-8">
                        @Html.TextAreaFor(p => p.Comment, new { @class = "form-control ckeditor", id = "Comment" })
                        <script type="text/javascript">
                        CKEDITOR.replace("Comment", {
                            height: 80,
                            plugins: 'about, basicstyles, clipboard, floatingspace, list, indentlist, enterkey, entities, link, toolbar, undo, wysiwygarea',
                            toolbarGroups: [
                                { name: 'document', groups: ['mode', 'document', 'doctools'] },
                                { name: 'clipboard', groups: ['clipboard', 'undo'] },
                                { name: 'editing', groups: ['find', 'selection', 'spellchecker'] },
                                { name: 'forms' },
                                { name: 'basicstyles', groups: ['basicstyles', 'cleanup'] },
                                { name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi'] },
                                { name: 'links' },
                                { name: 'insert' },
                                { name: 'styles' },
                                { name: 'colors' },
                                { name: 'tools' },
                                { name: 'others' }
                            ],
                            removeButtons: 'Anchor,Underline,Strike,Subscript,Superscript',
                            removeDialogTabs: 'link:advanced'
                        });
                        CKEDITOR.instances['Comment'].on('change',
                            function () { CKEDITOR.instances['Comment'].updateElement() });
                        </script>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.TooltipLabelFor(p => p.FileUrl)
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(p => p.FileUrl, new { @type = "file", @multiple = "multiple" })
                        <p class="help-block">Chọn file đính kèm.</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal-footer">
    <span class="btn btn-default" data-dismiss="modal">@LanguageResource.Btn_Cancel</span>
    <a class="btn btn-primary pull-right" id="btn-save-status" data-tab="">
        @LanguageResource.Btn_Save
    </a>
</div>