@model IEnumerable<ProfileViewModel>
<div class="content-header clearfix">
    <h1 class="pull-left">
        @LanguageResource.TabCompetitor
    </h1>
    <div class="pull-right">
        <a class="btn bg-blue" id="btn-create-opp-competitor"><i class="fa fa-plus-square"></i> Thêm mới</a>
    </div>
</div>
<div class="content overflow-x-scroll" id="contentOppCompetitor">
    <table class="table table-bordered table-striped table-hover no-footer">
        <thead class="isd-table-header">
            <tr>
                <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
                <th class="contentProfileContact-hidden">@Html.DisplayNameFor(p => p.ProfileCode)</th>
                <th>Đối thủ</th>
                <th>Địa chỉ</th>
                <th>@Html.DisplayNameFor(p => p.CreateUser)</th>
                <th>@Html.DisplayNameFor(p => p.CreateTime)</th>
                @*<th>Đối thủ chính</th>*@
                <th class="text-center isd-table-th-action">@LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @Html.Partial("_ListContent")
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

