@model IEnumerable<AccountResultViewModel>
@{
    string CurrentController = ConstController.Account;
    string CurrentArea = ConstArea.Permission;
}

<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.EmployeeCode)</th>
            <th>@Html.DisplayNameFor(p => p.UserName)</th>
            <th>@Html.DisplayNameFor(p => p.FullName)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.Actived)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td class="text-center">@Html.DisplayFor(p => item.EmployeeCode)</td>
                <td>@Html.DisplayFor(p => item.UserName)</td>
                <td>@Html.DisplayFor(p => item.FullName)</td>
                <td class="text-center">@HtmlExtensions.ActivedIcon(item.Actived)</td>
                <td class="text-center">
                    @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.AccountId)
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.UserName, item.AccountId)
                    <a class="btn btn-default btn-edit btn-warning" style="color:white" href="/Permission/Account/ChangePassword?id=@item.AccountId"><i class="fa fa-pencil"></i>@LanguageResource.Permission_ChangePassword</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>


