@model ISD.ViewModels.ChangePasswordAccountViewModel
@{
    /**/

    ViewBag.Title = LanguageResource.Permission_ChangePassword;
    string CurrentController = ConstController.Account;
    string CurrentArea = ConstArea.Permission;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmChangePassword" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p=>p.AccountId)
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @ViewBag.Title
            @HtmlExtensions.BackButton(null, ConstController.Home)
        </h1>
        <div class="pull-right">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.UserName)
                            </div>
                            <div class="col-md-9">
                                @Html.RequiredTextboxFor(p => p.UserName, new { @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.NewPassword)
                            </div>
                            <div class="col-md-9">
                                @Html.RequiredTextboxFor(p => p.NewPassword, new { @type = "password" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.retypeNewPassword)
                            </div>
                            <div class="col-md-9">
                                @Html.RequiredTextboxFor(p => p.retypeNewPassword, new { @type = "password" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        //load default and set event
        $(document).ready(function () {
            ISD.ChangePasswordInitial("@CurrentUrl");
        });
    </script>
}


