@model AccountViewModel
@using MvcCheckBoxList.Model
@{
    ViewBag.Title = LanguageResource.Permission_AccountModel;
    string CurrentController = ConstController.Account;
    string CurrentArea = ConstArea.Permission;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
<style>
    .col-md-10 label {
        font-weight: normal;
    }
</style>
<div class="content-header clearfix">
    <h1 class="pull-left">
        @ViewBag.Title
    </h1>
    <div class="pull-right">
        @HtmlExtensions.ExportButton(CurrentArea, CurrentController)
        @HtmlExtensions.ImportButton(CurrentArea, CurrentController)
        @HtmlExtensions.CreateButton(CurrentArea, CurrentController)
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                @using (Html.BeginForm("_Search", null, FormMethod.Post, new { @id = "frmSearch", @class = "isd-form-search" }))
                {
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.TooltipLabelFor(p => p.UserName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(p => p.UserName, new { @class = "form-control text-box single-line" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.TooltipLabelFor(p => p.FullName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(p => p.FullName, new { @class = "form-control text-box single-line" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.TooltipLabelFor(p => p.Actived)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownList("Actived", new List<SelectListItem>(){
                                        new SelectListItem(){Text = LanguageResource.Dropdownlist_All, Value = ""},
                                        new SelectListItem(){Text = LanguageResource.Actived_True, Value = "true", Selected = true},
                                        new SelectListItem(){Text = LanguageResource.Actived_False, Value = "false"}
                                    }, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2 col-xs-12" style="padding: 0px 32px;">
                                    @Html.TooltipLabelFor(p => p.RolesId)
                                </div>
                                <div class="col-md-10 col-xs-12" style="font-weight:normal;padding-left: 32px;">
                                    @Html.CheckBoxListFor(p => p.RolesId, p => p.RolesList, p1 => p1.RolesId, p1 => p1.RolesName, p => p.ActivedRolesList, Position.Horizontal)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-5">
                                    @HtmlExtensions.SearchButton()
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="divSearchResult"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="delete-confirm"></div>

@section scripts {
    <script>
        //load default and set event
        $(document).ready(function () {
            ISD.SearchInitial("@CurrentUrl");
            ISD.ShowMessage(window.location.href);
        });
    </script>
}
