@model List<ProfileGroupViewModel>
@{
    string CurrentArea = ConstArea.Customer;
    string CurrentController = ConstController.ProfileGroup;
    string CurrentUrl = CurrentArea + "/" + CurrentController;
    int i = 0;
}
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        i++;
        <tr>
            <td class="text-center">@i</td>
            <td>@Html.DisplayFor(p => item.ProfileGroupName)</td>
            <td>@Html.DisplayFor(p => item.CreateUser)</td>
            <td>@Html.DisplayFor(p => item.CreateTime)</td>
            <td class="text-center"><a class="btn btn-danger btn-delete" data-current-url="@CurrentUrl" data-id="@item.ProfileGroupId" data-item-name="@item.ProfileGroupName" data-delete-success-call-back="ReloadProfileGroupList"><i class="fa fa-trash-o"></i> Xóa</a></td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="5" class="text-center">
            Chưa có nhóm nào được thêm!
        </td>
    </tr>
}