@model IEnumerable<SpecificationsModel>
@{
    string CurrentController = ConstController.Specifications;

    string CurrentArea = ConstArea.Sale;
}

<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.SpecificationsCode)</th>
            <th>@Html.DisplayNameFor(p => p.SpecificationsName)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.Actived)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.SpecificationsCode)</td>
                <td>@Html.DisplayFor(p => item.SpecificationsName)</td>
                <td class="text-center">@HtmlExtensions.ActivedIcon(item.Actived)</td>
                <td class="text-center">
                    @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.SpecificationsId)
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.SpecificationsName, item.SpecificationsId)
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>


