@model StockViewModel
@using MvcCheckBoxList.Model

@{
    ViewBag.Title = LanguageResource.Update + " " + LanguageResource.Warehouse_Stock.ToLower();
    string CurrentController = ConstController.Stock;
    string CurrentArea = ConstArea.Warehouse;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.StockId)
    <input type="hidden" name="isContinue" id="isContinue" value="@ViewBag.isContinue" />
    <input type="hidden" name="Data" id="Data" value="@ViewBag.Data" />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @HtmlExtensions.BackButton(CurrentArea, CurrentController)
        </h1>
        <div class="pull-right">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @*@HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)*@
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="box panel-group">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.TooltipLabelFor(p => p.StockCode)
                        </div>
                        <div class="col-md-7">
                            @Html.RequiredTextboxFor(p => p.StockCode, new { disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.TooltipLabelFor(p => p.StockName)
                        </div>
                        <div class="col-md-7">
                            @Html.RequiredTextboxFor(p => p.StockName)
                        </div>
                    </div>

                    @*<div class="form-group">
                        <div class="col-md-3">
                            @Html.TooltipLabelFor(p => p.StoreId)
                        </div>
                        <div class="col-md-9 div-checkbox">*@
                            @* 1.checkbox name, 2.list all, 3.value, 4.display name, 5.selected list *@
                            @*@Html.CheckBoxListFor(p => p.StoreId, p => p.StoreList, p1 => p1.StoreId, p1 => p1.StoreName, p => null, Position.Vertical)
                        </div>
                    </div>*@

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.TooltipLabelFor(p => p.Actived)
                        </div>
                        <div class="col-md-7">
                            @Html.ActivedRadioButton(p => p.Actived)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
       //set event btn-save, btn-save-continue for btn-create
        $(document).ready(function () {
            ISD.EditInitial("@CurrentUrl");
        });
    </script>
}
