@model NewsCategoryModel

@{
    ViewBag.Title = LanguageResource.Update + " " + LanguageResource.MasterData_NewsCategory.ToLower();
    string CurrentController = ConstController.NewsCategory;
    string CurrentArea = ConstArea.MasterData;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}

@using (Html.BeginForm("Edit", null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.NewsCategoryId)
    @Html.HiddenFor(p => p.NewsCategoryCode)

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @HtmlExtensions.BackButton(CurrentArea, CurrentController)
        </h1>
        <div class="pull-right">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.NewsCategoryName)
                            </div>
                            <div class="col-md-6">
                                @Html.RequiredTextboxFor(p => p.NewsCategoryName)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.Description)
                            </div>
                            <div class="col-md-6">
                                @Html.TextAreaFor(p => p.Description, new { @class = "ckeditor", @id = "Description" })
                                <script type="text/javascript">
                                    var editor = CKEDITOR.replace("Description", {
                                        height: 250,
                                        filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                                        filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?Type=Images',
                                        filebrowserUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
                                        filebrowserImageUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                                        filebrowserWindowWidth: '1000',
                                        filebrowserWindowHeight: '700'
                                    });
                                    CKFinder.setupCKEditor(editor, '/ckfinder/');
                                    CKEDITOR.instances['Description'].on('change',
                                        function () { CKEDITOR.instances['Description'].updateElement() });
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.OrderIndex)
                            </div>
                            <div class="col-md-6">
                                @Html.RequiredTextboxFor(p => p.OrderIndex)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.Actived)
                            </div>
                            <div class="col-md-6">
                                @Html.ActivedRadioButton(p => p.Actived)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.TooltipLabelFor(p => p.ImageUrl)
                            </div>
                            <div class="col-md-6">
                                @*@Html.RequiredTextboxFor(p => p.ImageUrl, new { type = "file" })*@
                                <input type="file" name="FileUpload" />
                                @if (Model.ImageUrl != null)
                                {
                                    <img id="image-edit-view" src="/Upload/NewsCategory/Thum/@Model.ImageUrl" />
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section head {
    <script src="~/Content/Plugin/ckeditor/ckeditor.js"></script>
    <script src="~/ckfinder/ckfinder.js"></script>
}

@section scripts {
    <script>
       //set event btn-save, btn-save-continue for btn-create
        $(document).ready(function () {
            ISD.EditInitial("@CurrentUrl");
        });
    CKEDITOR.replace('txtCkeditor');
    </script>
}
