@model IEnumerable<StoreTypeModel>
@{
    string CurrentController = ConstController.StoreType;

    string CurrentArea = ConstArea.MasterData;
}

<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.StoreTypeName)</th>
            <th>@Html.DisplayNameFor(p => p.OrderIndex)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.Actived)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.StoreTypeName)</td>
                <td>@Html.DisplayFor(p => item.OrderIndex)</td>
                <td class="text-center">@HtmlExtensions.ActivedIcon(item.Actived)</td>
                <td class="text-center">
                    @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.StoreTypeId)
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.StoreTypeName, item.StoreTypeId)
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>



