@model CatalogModel
@{
    ViewBag.Title = LanguageResource.MasterData_Catalog;
    string CurrentArea = ConstArea.MasterData;
    string CurrentController = ConstController.Catalog;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
@using (Html.BeginForm("Edit", null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.CatalogId)
    @*@Html.HiddenFor(p => p.CatalogCode)*@

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @HtmlExtensions.BackButton(CurrentArea, CurrentController)
        </h1>
        <div class="pull-right">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
        </div>
    </div>

    <div class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <div class="box-body">
                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.CatalogCode)
                    @*@Html.RequiredTextboxFor(p => p.CatalogCode, new { disabled="disabled"})*@
                    @Html.RequiredTextboxFor(p => p.CatalogCode)
                </div>

                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.CatalogTypeCode)
                    @Html.DropDownList("CatalogTypeCode", null, LanguageResource.Dropdownlist_Choose, new { @class = "form-control with-search" })
                </div>

                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.CatalogText_vi)
                    @Html.RequiredTextboxFor(p => p.CatalogText_vi)
                </div>

                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.CatalogText_en)
                    @Html.RequiredTextboxFor(p => p.CatalogText_en)
                </div>

                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.OrderIndex)
                    @Html.RequiredTextboxFor(p => p.OrderIndex)
                </div>

                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.Actived)
                    @Html.ActivedRadioButton(p => p.Actived)
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
       //set event btn-save, btn-save-continue for btn-create
        $(document).ready(function () {
            ISD.EditInitial("@CurrentUrl");
        });
    </script>
}

