@model IEnumerable<PlateFeeDetailViewModel>

<table id="uploadTable" class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.Province)</th>
            <th>@Html.DisplayNameFor(p => p.Price)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody id="detailList">
        @if (Model != null && Model.Count() > 0)
        {
            @Html.Partial("_DetailPlateFeeInner", Model)
        }
    </tbody>
    <tfoot id="detail">
        <tr>
            <td></td>
            <td>
                <input type="text" class="form-control text-box single-line" id="Province" name="Province" />
            </td>
            <td>
                <input type="text" class="form-control text-box single-line" id="Price" name="Price" />
            </td>
            <td class="text-center">
                <a class="btn btn-warning btn-add-detail">
                    @LanguageResource.Btn_AddRow
                </a>
            </td>
        </tr>
    </tfoot>
</table>
