@model IEnumerable<BrandViewModel>
@{
    string CurrentController = ConstController.Brand;

    string CurrentArea = ConstArea.Sale;
}

<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.CategoryCode)</th>
            <th>@Html.DisplayNameFor(p => p.CategoryName)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.ImageUrl)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.OrderIndex)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.Actived)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
        <tr>
            <td class="text-center">@i</td>
            <td>@Html.DisplayFor(p => item.CategoryCode)</td>
            <td>@Html.DisplayFor(p => item.CategoryName)</td>
            <td class="text-center">
                @if (item.ImageUrl != null)
                {
                    <img class="image-search-view" src="/Upload/Brand/@item.ImageUrl" />
                }
                else
                {
                    <img class="image-search-view" src="/Upload/Brand/noimage.jpg" />
                }
            </td>
            <td class="text-center">@Html.DisplayFor(p => item.OrderIndex)</td>
            <td class="text-center">@HtmlExtensions.ActivedIcon(item.Actived)</td>
            <td class="text-center">
                @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.CategoryId)
                @if (item.isDelete == true)
                {
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.CategoryName, item.CategoryId)
                }
            </td>
        </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>


