@{
    var fieldList = (List<WorkFlowFieldViewModel>)ViewBag.WorkFlowField;
}

<table class="table table-hover">
    <thead>
        <tr>
            @*<th class="text-center">
                <div class="label-wrapper">
                    <label class="control-label">STT</label>
                </div>
            </th>*@
            <th>@Html.TooltipLabelFor(p => fieldList[0].FieldCode)</th>
            <th>@Html.TooltipLabelFor(p => fieldList[0].FieldName)</th>
            <th class="text-center">
                <div class="label-wrapper">
                    <label class="control-label">Thuộc tính hiển thị</label>
                </div>
            </th>
            @*<th>@Html.TooltipLabelFor(p => fieldList[0].OrderIndex)</th>*@
            <th>@Html.TooltipLabelFor(p => fieldList[0].Parameters)</th>
            <th>@Html.TooltipLabelFor(p => fieldList[0].Note)</th>
            <th class="text-center">@Html.TooltipLabelFor(p => fieldList[0].HideWhenAdd)</th>
            <th>@Html.TooltipLabelFor(p => fieldList[0].AddDefaultValue)</th>
            <th class="text-center">@Html.TooltipLabelFor(p => fieldList[0].HideWhenEdit)</th>
            <th>@Html.TooltipLabelFor(p => fieldList[0].EditDefaultValue)</th>
            <th class="text-center">@Html.TooltipLabelFor(p => fieldList[0].IsRequired)</th>
        </tr>
    </thead>
    <tbody class="vertical-align-mid">
        @if (fieldList != null && fieldList.Count > 0)
        {
            int i = 0;
            foreach (var item in fieldList.OrderBy(p => p.OrderIndex))
            {
                var index = i + 1;
                <tr>
                    @*<td class="text-center">@index</td>*@
                    <td>
                        <span class="display-for">@item.FieldCode</span>
                    </td>
                    <td>
                        <span class="display-for">@item.FieldName</span>
                    </td>
                    <td class="text-center">
                        @{ var checkedChoose = ""; }
                        @if (item.IsChoose == true)
                        {
                            checkedChoose = "checked";
                        }
                        <input type="checkbox" name="configList[@i].FieldCode" value="@item.FieldCode" @checkedChoose />
                    </td>
                    @*<td>
                        <input type="number" class="form-control" name="configList[@i].OrderIndex_Config" value="@item.OrderIndex_Config" />
                    </td>*@
                    <td>
                        <input type="text" class="form-control" name="configList[@i].Parameters" value="@item.Parameters" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="configList[@i].Note" value="@item.Note" />
                    </td>
                    <td class="text-center">
                        @{ var checkedHideWhenAdd = ""; }
                        @if (item.HideWhenAdd == true)
                        {
                            checkedHideWhenAdd = "checked";
                        }
                        <input type="checkbox" name="configList[@i].HideWhenAdd" value="true" @checkedHideWhenAdd />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="configList[@i].AddDefaultValue" value="@item.AddDefaultValue" />
                    </td>
                    <td class="text-center">
                        @{ var checkedHideWhenEdit = ""; }
                        @if (item.HideWhenEdit == true)
                        {
                            checkedHideWhenEdit = "checked";
                        }
                        <input type="checkbox" name="configList[@i].HideWhenEdit" value="true" @checkedHideWhenEdit />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="configList[@i].EditDefaultValue" value="@item.EditDefaultValue" />
                    </td>
                    <td class="text-center">
                        @{ var checkedIsRequired = ""; }
                        @if (item.IsRequired == true)
                        {
                            checkedIsRequired = "checked";
                        }
                        <input type="checkbox" name="configList[@i].IsRequired" value="true" @checkedIsRequired />
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>