@model IEnumerable<ProjectActivitiesViewModel>
@{
    string CurrentArea = ConstArea.Customer;
    string CurrentController = ConstController.Activities;

    string CurrentUrl = CurrentArea + "/" + CurrentController;
}
@{ int i = 0; }
@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        i++;
        <tr>
            <td class="text-center">@i</td>
            @*<td>@Html.DisplayFor(p => item.FromStatusName)</td>*@
            <td>@Html.DisplayFor(p => item.ToStatusName)</td>
            <td>@Html.Raw(!string.IsNullOrEmpty(item.Note) ? item.Note.Replace("\r\n", "<br/>") : null)</td>
            <td>@Html.DisplayFor(p => item.ApproveName)</td>
            <td class="text-center">@Html.DisplayFor(p => item.ApproveTime)</td>
            @*<td>@Html.DisplayFor(p => item.CreateName)</td>*@
            @*<td class="text-center">@Html.DisplayFor(p => item.CreateTime)</td>*@
            @if (ViewBag.IsView != true)
            {
                <td class="text-center">
                    <a class="btn btn-default btn-edit" data-id="@item.TaskTransitionLogId"><i class="fa fa-pencil"></i> Sửa</a>
                    <a class="btn btn-danger btn-delete" data-current-url="@CurrentUrl" data-id="@item.TaskTransitionLogId" data-item-name="Trạng thái: @item.ToStatusName" data-delete-success-call-back="ReloadActivitiesList"><i class="fa fa-trash-o"></i> Xóa</a>
                </td>
            }
        </tr>
    }
}
else
{
    <tr class="odd"><td valign="top" colspan="14" class="dataTables_empty">@LanguageResource.Grid_NoRecord</td></tr>
}

