@{
    var detailList = (List<KanbanDetailViewModel>)ViewBag.detailList;
}
<div class="row">
    <div class="col-sm-4">@Html.TooltipLabelFor(p => detailList[0].ColumnName)</div>
    <div class="col-sm-4">@Html.TooltipLabelFor(p => detailList[0].OrderIndex)</div>
    <div class="col-sm-4">@Html.TooltipLabelFor(p => detailList[0].Note)</div>
</div>
<div class="detailControls">
    @if (detailList != null && detailList.Count > 0)
    {
        int i = 0;
        foreach (var item in detailList.OrderBy(p => p.OrderIndex))
        {
            <div class="detail_fields row">
                @Html.HiddenFor(p => detailList[i].KanbanDetailId, new { @class = "kanbanDetailId" })
                <div class="col-sm-4 nopadding">
                    <div class="form-group">
                        <div class="input-group input-group-required">
                            <input class="form-control text-box single-line columnName" name="detailList[@i].ColumnName" type="text" value="@item.ColumnName">
                            <div class="required-icon" data-original-title="" title=""><div class="text">*</div></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 nopadding">
                    <div class="form-group">
                        <div class="input-group input-group-required">
                            <input type="text" class="form-control orderIndex" name="detailList[@i].OrderIndex" value="@item.OrderIndex">
                            <div class="required-icon" data-original-title="" title=""><div class="text">*</div></div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4 nopadding">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control note" name="detailList[@i].Note" value="@item.Note">
                            @if (i == 0)
                            {
                                <div class="input-group-btn">
                                    <button class="btn btn-success btn-addDetail" type="button"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                                </div>
                            }
                            else
                            {
                                <div class="input-group-btn">
                                    <button class="btn btn-danger btn-removeDetail" type="button"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            i++;
        }
    }
    else
    {
        <div class="detail_fields row">
            <div class="col-sm-4 nopadding">
                <div class="form-group">
                    <div class="input-group input-group-required">
                        <input class="form-control text-box single-line columnName" name="detailList[0].ColumnName" type="text" value="">
                        <div class="required-icon" data-original-title="" title=""><div class="text">*</div></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 nopadding">
                <div class="form-group">
                    <div class="input-group input-group-required">
                        <input type="text" class="form-control orderIndex" name="detailList[0].OrderIndex" value="">
                        <div class="required-icon" data-original-title="" title=""><div class="text">*</div></div>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 nopadding">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control note" name="detailList[0].Note" value="">
                        <div class="input-group-btn">
                            <button class="btn btn-success btn-addDetail" type="button"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>


