@model ProfileLevelModel
@{
    ViewBag.Title = LanguageResource.Customer_ProfileLevel;
    string CurrentArea = ConstArea.Customer;
    string CurrentController = ConstController.ProfileLevel;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.CustomerLevelId)
    @Html.HiddenFor(p => p.CustomerLevelCode)
    <input type="hidden" name="isContinue" id="isContinue" value="@ViewBag.isContinue" />
    <input type="hidden" name="Data" id="Data" value="@ViewBag.Data" />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @HtmlExtensions.BackButton(CurrentArea, CurrentController)
        </h1>
        <div class="pull-right">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
        </div>
    </div>

    <div class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <div class="box-body">
                <div class="form-group col-md-12">
                    @Html.TooltipLabelFor(p => p.CompanyId)
                    @Html.DropDownList("CompanyId", null, new { @class = "form-control with-search" })
                </div>

                <div class="form-group col-md-12">
                    @Html.TooltipLabelFor(p => p.CustomerLevelCode)
                    @Html.RequiredTextboxFor(p => p.CustomerLevelCode, new { disabled = "disabled" })
                </div>

                <div class="form-group col-md-12">
                    @Html.TooltipLabelFor(p => p.CustomerLevelName)
                    @Html.RequiredTextboxFor(p => p.CustomerLevelName)
                </div>

                <div class="form-group col-md-12">
                    @Html.TooltipLabelFor(p => p.LineOfLevel)
                    @Html.RequiredTextboxFor(p => p.LineOfLevel)
                </div>

                <div class="form-group col-md-12">
                    @Html.TooltipLabelFor(p => p.ExchangeValue)
                    @Html.RequiredTextboxFor(p => p.ExchangeValue)
                </div>

                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.FromDate)
                    @if (Model.FromDate != null)
                    {
                        @Html.RequiredTextboxFor(p => p.FromDate, Model.FromDate.Value.ToString("yyyy-MM-dd"), new { @type = "date" })
                    }
                    else
                    {
                        @Html.RequiredTextboxFor(p => p.FromDate, new { @type = "date" })
                    }
                </div>

                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.ToDate)
                    @if (Model.ToDate != null)
                    {
                        @Html.RequiredTextboxFor(p => p.ToDate, Model.ToDate.Value.ToString("yyyy-MM-dd"), new { @type = "date" })
                    }
                    else
                    {
                        @Html.RequiredTextboxFor(p => p.ToDate, new { @type = "date" })
                    }
                </div>

                <div class="form-group col-md-12">
                    @Html.TooltipLabelFor(p => p.Note)
                    @Html.RequiredTextboxFor(p => p.Note)
                </div>

                <div class="form-group col-md-12">
                    @Html.TooltipLabelFor(p => p.Actived)
                    @Html.ActivedRadioButton(p => p.Actived)
                </div>

                @Html.Action("_LogChange", "Shared", new { Model.CreateBy, Model.CreateTime, Model.LastEditBy, Model.LastEditTime, area = "" })
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
       //set event btn-save, btn-save-continue for btn-create
        $(document).ready(function () {
            ISD.EditInitial("@CurrentUrl");
        });
    </script>
}