@model IEnumerable<ResourceViewModel>
@{
    ViewBag.Title = LanguageResource.Utilities_Setting;
    string CurrentController = ConstController.Setting;
    string CurrentArea = ConstArea.Utilities;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
<table id="menuTable" class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.ResourceKey)</th>
            <th>@Html.DisplayNameFor(p => p.ResourceValue)</th>
            <th>@Html.DisplayNameFor(p => p.ResourceComment)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.ResourceKey)</td>
                <td>@Html.DisplayFor(p => item.ResourceValue)</td>
                <td>@Html.DisplayFor(p => item.ResourceComment)</td>
                <td class="text-center">
                    @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.ResourceKey)
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.ResourceKey, item.ResourceKey)
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>
