@model IEnumerable<AppointmentViewModel>
<div class="content-header clearfix">
    <h1 class="pull-left">
        @LanguageResource.Appointment
    </h1>
    <div class="pull-right">
        <a class="btn bg-blue" id="btn-create-appointment" onclick="$(this).button('loading')"><i class="fa fa-plus-square"></i> @LanguageResource.Create</a>
    </div>
</div>
<div class="content overflow-x-scroll" id="contentAppointment">
    <table class="table table-bordered table-striped table-hover no-footer">
        <thead class="isd-table-header">
            <tr>
                <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
                <th>@LanguageResource.ID</th>
                <th>@Html.DisplayNameFor(p => p.Summary)</th>
                <th>@Html.DisplayNameFor(p => p.TaskStatusId)</th>
                <th>@Html.DisplayNameFor(p => p.SaleEmployeeCode)</th>
                @*<th>@Html.DisplayNameFor(p => p.StartDate)</th>
                <th>@Html.DisplayNameFor(p => p.EndDate)</th>*@
                <th>@Html.DisplayNameFor(p => p.Description)</th>
                <th>@Html.DisplayNameFor(p => p.ShowroomCode)</th>
                <th>@Html.DisplayNameFor(p => p.StoreName)</th>
                <th>@Html.DisplayNameFor(p => p.VisitDate)</th>
                <th>@Html.DisplayNameFor(p => p.CreateTime)</th>
                <th class="text-center isd-table-th-action">@LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @Html.Partial("_ListContent")
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

