@model ModuleViewModel

@{
    ViewBag.Title = LanguageResource.Update + " " + LanguageResource.Permission_ModuleModel.ToLower();
    string CurrentController = ConstController.Module;
    string CurrentArea = ConstArea.Permission;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}

@using (Html.BeginForm("Edit", null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.ModuleId)
    @Html.HiddenFor(p => p.ImageUrl)
    foreach (var item in Model.ActivedPageList)
    {
        <input type="hidden" name="ActivedPageList" class="ActivedPageList" value="@item.PageId" />
    }

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @ViewBag.Title
            @HtmlExtensions.BackButton(CurrentArea, CurrentController)
        </h1>
        <div class="pull-right">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel-default">
                    <div id="exTab1" class="nav-tabs-custom">
                        <ul class="nav nav-pills nav nav-tabs">
                            <li class="active">
                                <a href="#tab1" data-toggle="tab">@LanguageResource.Product_Info</a>
                            </li>
                            <li>
                                <a href="#tab2" data-toggle="tab">@LanguageResource.Actions</a>
                            </li>
                        </ul>
                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="tab1">
                                @Html.Partial("_ModuleInfo", Model)
                            </div>
                            <div class="tab-pane" id="tab2">
                                @Html.Partial("_PageModuleMapping")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        //set event btn-save, btn-save-continue for btn-edit
        $(document).ready(function () {
            ISD.EditInitial("@CurrentUrl");

            //Show Actived Store checkbox checked
            $('#checkboxes input[name=MenuId]').each(function () {
                loading2();
                if ($(this).prop("checked")) {
                    var MenuId = $(this).val();
                    var Index = $(this).attr('data-row');
                    $.ajax({
                        type: "POST",
                        url: "/Permission/Module/GetPageByMenu",
                        data: {
                            MenuId: MenuId
                        },
                        success: function (jsonData) {
                            $("div.pageList_" + Index).html("");

                            //ActivedPageList
                            var ActivedPageList = [];
                            $('.ActivedPageList').each(function () {
                                ActivedPageList.push($(this).attr('value'));
                            });

                            //Insert Checkbox Store
                            $.each(jsonData, function (index, value) {
                                if ($.inArray(value.PageId, ActivedPageList) != -1) {
                                    $("div.pageList_" + Index).append('<label style="font-weight: normal;"><input type="checkbox" name="PageId" class="PageId" value="' + value.PageId + '" checked>' + value.PageName + "</label><br>");
                                }
                                else {
                                    $("div.pageList_" + Index).append('<label style="font-weight: normal;"><input type="checkbox" name="PageId" class="PageId" value="' + value.PageId + '"> ' + value.PageName + "</label><br>");
                                }
                            });
                            $("div.pageList_" + Index).show();
                        }
                    });
                }
                else {
                    $("body").removeClass("loading2");
                }
            });
        });

        //show page by menu
        $(document).on("change", "input[name=MenuId]", function () {
            var MenuId = $(this).val();
            var Index = $(this).data("row");

            if ($(this).prop("checked")) {
                $.ajax({
                    type: "POST",
                    url: "/Permission/Module/GetPageByMenu",
                    data: {
                        MenuId: MenuId
                    },
                    success: function (jsonData) {
                        $("div.pageList_" + Index).html("");
                        $.each(jsonData, function (index, value) {
                            $("div.pageList_" + Index).append('<label style="font-weight: normal;"><input type="checkbox" name="PageId" class="PageId" value="' + value.PageId + '"> ' + value.PageName + "</label><br>");
                        });
                        $("div.pageList_" + Index).show();
                    }
                });
            }
            else {
                $("div.pageList_" + Index).hide();
                $("div.pageList_" + Index + " input[type=checkbox]").prop('checked', false);
            }
        });
    </script>
}