@model IEnumerable<CustomerTastesReportViewModel>
@{
    string CurrentArea = ConstArea.Customer;
    string CurrentController = ConstController.CustomerTaste;

    string CurrentUrl = CurrentArea + "/" + CurrentController;
}

@if (Model != null && Model.Count() > 0)
{
    int i = 0;
    foreach (var item in Model)
    {
        i++;
        <tr>
            <td class="text-center">@i</td>
            <td>@Html.DisplayFor(p => item.MaSAP)</td>
            <td>@Html.DisplayFor(p => item.MaSP)</td>
            <td>@Html.DisplayFor(p => item.TenSP)</td>
            <td class="text-center">@Html.DisplayFor(p => item.SoLuotLiked)</td>
            @*<td class="text-center">
                    <a class="btn btn-default btn-edit" data-id="@item.AddressBookId"><i class="fa fa-pencil"></i> Sửa</a>
                    <a class="btn btn-danger btn-delete" data-current-url="@CurrentUrl" data-id="@item.AddressBookId" data-item-name="@item.Address" data-delete-success-call-back="ReloadAddressBookList"><i class="fa fa-trash-o"></i> Xóa</a>
                </td>*@
        </tr>
    }
}
else
{
    <tr class="odd"><td valign="top" colspan="9" class="dataTables_empty">@LanguageResource.Grid_NoRecord</td></tr>
}