@model IEnumerable<CustomerTastesReportViewModel>
<div class="content-header clearfix">
    <h1 class="pull-left">
        @LanguageResource.Customer_CustomerTaste
    </h1>
    @*<div class="pull-right">
            <a class="btn bg-blue" id="btn-create-addressbook"><i class="fa fa-plus-square"></i> Thêm mới</a>
        </div>*@
</div>
<div class="content" id="contentCustomerTaste">
    <table class="table table-bordered table-striped table-hover no-footer">
        <thead class="isd-table-header">
            <tr>
                <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
                <th>@Html.DisplayNameFor(p => p.MaSAP)</th>
                <th>@Html.DisplayNameFor(p => p.MaSP)</th>
                <th>@Html.DisplayNameFor(p => p.TenSP)</th>
                <th class="text-center">@Html.DisplayNameFor(p => p.SoLuotLiked)</th>
            </tr>
        </thead>
        <tbody>
            @Html.Partial("_ListContent")
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
