@model WarrantyModel
@{
    ViewBag.Title = LanguageResource.Maintenance_Warranty;
    string CurrentArea = ConstArea.Maintenance;
    string CurrentController = ConstController.Warranty;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" name="isContinue" id="isContinue" value="@ViewBag.isContinue" />
    <input type="hidden" name="Data" id="Data" value="@ViewBag.Data" />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @HtmlExtensions.BackButton(CurrentArea, CurrentController)
        </h1>
        <div class="pull-right">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
        </div>
    </div>

    <div class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <div class="box-body">
                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.WarrantyCode)
                    @Html.RequiredTextboxFor(p => p.WarrantyCode)
                </div>

                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.WarrantyName)
                    @Html.RequiredTextboxFor(p => p.WarrantyName)
                </div>

                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.Duration)
                    @Html.RequiredTextboxFor(p => p.Duration)
                </div>

                <div class="form-group col-md-6">
                    @Html.TooltipLabelFor(p => p.Coverage)
                    @Html.RequiredTextboxFor(p => p.Coverage)
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
       //set event btn-save, btn-save-continue for btn-create
        $(document).ready(function () {
            ISD.CreateInitial("@CurrentUrl");
        });
    </script>
}