@model MemberOfTargetGroupViewModel
<div class="panel-body">
    <div class="row">
        <div class="checkbox">
            <label><input id="hasEmail" onclick="ISDNET5.hasEmail();" type="checkbox" value="false">Chỉ hiển thị thành viên có email</label>
        </div>
        <div class="checkbox">
            <label><input id="distinctEmail" onclick="ISDNET5.distinctEmail();" type="checkbox" value="false">Lọc thành viên bị trùng email</label>
        </div>
        <div style="display: flex;" class="col-md-1">
            <label style=" padding-right: 5px; padding-top: 5px;">Xem </label>
            <select id="changeViewRowMember" style="display: block; width: 100%; min-height: 30px;margin-bottom:5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <label style=" padding-left: 5px; padding-top: 5px;">mục </label>
        </div>
        <div class="pull-right">

            <div id="pagination" class="pagination">
            </div>
        </div>

    </div>
    <div id="divMembers">
        <table class="table table-bordered table-striped table-hover dataTable no-footer">
            <thead class="isd-table-header">
                <tr>
                    <th class="text-center">@LanguageResource.NumberIndex</th>
                    <th>@Html.DisplayNameFor(p => p.ProfileCode)</th>
                    <th>@Html.DisplayNameFor(p => p.ProfileForeignCode)</th>
                    <th>@Html.DisplayNameFor(p => p.ProfileName)</th>
                    <th>@Html.DisplayNameFor(p => p.Phone)</th>
                    <th>@Html.DisplayNameFor(p => p.Email)</th>
                    <th>@LanguageResource.Actions</th>
                </tr>
            </thead>
            <tbody id="tblData">
            </tbody>
            <tfoot></tfoot>
        </table>
        <p id="tblCount"></p>
    </div>
</div>
<script id="data-template" type="x-tmpl-mustache">
      <tr>
         <td class="text-center">{{i}}</td>
         <td><a href="/Customer/Profile/Edit/{{ProfileId}}">{{ProfileCode}}</a></td>
         <td>{{ProfileForeignCode}}</td>
        <td>{{ProfileName}}</td>
        <td>{{Phone}}</td>
        <td>{{Email}}</td>
        <td class="text-center"><a href="#" class="btn btn-danger btn-delete-member" data-id="{{ProfileId}}">Xoá</a></td>
      </tr>
</script>
