@model IEnumerable<ProductViewModel>

<table id="uploadTable" class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
            <th class="color-input">@Html.DisplayNameFor(p => p.MainColorId)</th>
            <th>@Html.DisplayNameFor(p => p.StyleId)</th>
            <th class="text-center image-input">@Html.DisplayNameFor(p => p.NumberOfImage)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.isDefault)</th>
            <th class="text-center action-width" style="width:220px">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody id="colorList">
        @if (Model != null && Model.Count() > 0)
        {
            @Html.Partial("_ProductColorInner", Model)
        }
    </tbody>
    <tfoot id="color">
        <tr>
            <td></td>
            <td>
                @Html.DropDownList("MainColorId", null, LanguageResource.Dropdownlist_All, new { @class = "form-control with-search" })
            </td>
            <td>
                @Html.DropDownList("StyleId", null, string.Format("-- {0} --", LanguageResource.DefaultStyle), new { @class = "form-control with-search" })
            </td>
            <td>
                <input type="file" class="form-control text-box single-line" id="ColorStyleImage" name="ColorStyleImage" multiple="multiple" />
            </td>
            <td></td>
            <td class="text-center">
                <a class="btn btn-warning btn-add-row" data-row="0">
                    @LanguageResource.Btn_AddRow
                </a>
            </td>
        </tr>
    </tfoot>
</table>
