@model IEnumerable<ProductViewModel>

@{
    int i = 0;
    int k = -1;
}

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        i++;
        k++;
        <input type="hidden" name="propertiesList[@k].STT" value="@i">
        <input type="hidden" name="propertiesList[@k].ProductId" value="@item.ProductId" />
        <input type="hidden" name="propertiesList[@k].Subject" value="@item.Subject" />
        <input type="hidden" name="propertiesList[@k].SubjectColor" value="@item.SubjectColor" />
        <input type="hidden" name="propertiesList[@k].Description" value="@item.Description" />
        <input type="hidden" name="propertiesList[@k].DescriptionColor" value="@item.DescriptionColor" />
        <input type="hidden" name="propertiesList[@k].Image" value="@item.Image" />
        <input type="hidden" name="propertiesList[@k].BackgroundColor" value="@item.BackgroundColor" />
        <input type="hidden" name="propertiesList[@k].X" value="@item.X" />
        <input type="hidden" name="propertiesList[@k].Y" value="@item.Y" />

        <input type="hidden" name="propertiesList[@k].ProductCode" value="@item.ProductCode" />
        <input type="hidden" name="propertiesList[@k].ProductName" value="@item.ProductName" />
        <input type="hidden" name="propertiesList[@k].ERPProductCode" value="@item.ERPProductCode" />
        <tr>
            <td class="text-center">
                @i
            </td>
            <td class="properties-subject">
                <div class="input-group colorpicker-component myColorPicker myColorPicker1">
                    <input type="text" name="SubjectColor" id="SubjectColor" value="@item.SubjectColor" class="form-control" disabled />
                    <span class="input-group-addon"><i></i></span>
                </div>
                @item.Subject
            </td>
            <td class="properties-textarea">
                <div class="input-group colorpicker-component myColorPicker myColorPicker2">
                    <input type="text" name="DescriptionColor" id="DescriptionColor" value="@item.DescriptionColor" class="form-control" disabled />
                    <span class="input-group-addon"><i></i></span>
                </div>
                @item.Description
            </td>
            <td class="text-center">
                <img src="~/Upload/Properties/@item.Image" style="height:20%" />
            </td>
            <td>
                <div class="input-group colorpicker-component myColorPicker myColorPicker3">
                    <input type="text" name="BackgroundColor" id="BackgroundColor" value="@item.BackgroundColor" class="form-control" disabled />
                    <span class="input-group-addon"><i></i></span>
                </div>
            </td>
            <td class="numberlatlng">
                @item.X
            </td>
            <td class="numberlatlng">
                @item.Y
            </td>
            <td class="text-center">
                <a class="btn btn-danger btn-del-product" data-id="@i" data-row="1">
                    @LanguageResource.Btn_Delete
                </a>
            </td>
        </tr>
    }
}

