@model IEnumerable<ProductViewModel>

<table id="uploadTable" class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center isd-table-th-stt">@LanguageResource.NumberIndex</th>
            <th class="properties-subject">@Html.DisplayNameFor(p => p.Subject)</th>
            <th class="properties-textarea">@Html.DisplayNameFor(p => p.Description)</th>
            <th class="text-center properties-image">@Html.DisplayNameFor(p => p.Image)</th>
            <th class="properties-subject">@Html.DisplayNameFor(p => p.BackgroundColor)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.X)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.Y)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody id="propertiesList">
        @if (Model != null && Model.Count() > 0)
        {
            @Html.Partial("_ProductPropertiesInner", Model)
        }
    </tbody>
    <tfoot id="properties">
        <tr>
            <td></td>
            <td>
                <div class="input-group colorpicker-component myColorPicker myColorPicker1">
                    <input type="text" name="SubjectColor" id="SubjectColor" value="RGB(255,0,0)" class="form-control" />
                    <span class="input-group-addon"><i></i></span>
                </div>
                <input type="text" class="form-control text-box single-line" id="Subject" name="Subject" />
            </td>
            <td>
                <div class="input-group colorpicker-component myColorPicker myColorPicker2">
                    <input type="text" name="DescriptionColor" id="DescriptionColor" value="RGB(0,0,0)" class="form-control" />
                    <span class="input-group-addon"><i></i></span>
                </div>
                <textarea class="form-control" cols="10" rows="4" id="Description" name="Description"></textarea>
            </td>
            <td>
                <input type="file" class="form-control text-box single-line" id="Image" name="Image" />
            </td>
            <td>
                <div class="input-group colorpicker-component myColorPicker myColorPicker3">
                    <input type="text" name="BackgroundColor" id="BackgroundColor" value="RGB(255,255,255)" class="form-control" />
                    <span class="input-group-addon"><i></i></span>
                </div>
            </td>
            <td>
                <input type="text" class="form-control text-box single-line" id="X" name="X" />
            </td>
            <td>
                <input type="text" class="form-control text-box single-line" id="Y" name="Y" />
            </td>
            <td class="text-center">
                <a class="btn btn-warning btn-add-row" data-row="1">
                    @LanguageResource.Btn_AddRow
                </a>
            </td>
        </tr>
    </tfoot>
</table>
