@model IEnumerable<ProductViewModel>

@{
    int i = 0;
    int k = -1;
}

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        i++;
        k++;
        <input type="hidden" name="colorList[@k].STT" value="@i">
        <input type="hidden" name="colorList[@k].ColorProductId" value="@item.ColorProductId" />
        //MainColor
        <input type="hidden" name="colorList[@k].MainColorId" value="@item.MainColorId" />
        <input type="hidden" name="colorList[@k].MainColorCode" value="@item.MainColorCode" />
        <input type="hidden" name="colorList[@k].MainColorName" value="@item.MainColorName" />
        //Style
        <input type="hidden" name="colorList[@k].StyleId" value="@item.StyleId" />
        <input type="hidden" name="colorList[@k].StyleName" value="@item.StyleName" />
        <input type="hidden" name="colorList[@k].ColorStyleImage" value="@item.ColorStyleImage" />

        <input type="hidden" name="colorList[@k].ProductCode" value="@item.ProductCode" />
        <tr>
            <td class="text-center">
                @i
            </td>
            <td class="color-input">
                <div>
                    @item.MainColorShortName | @item.MainColorName
                </div>
                <div>
                    <input type="text" class="DisplayColor" style="background-color: @item.MainColorCode" readonly />
                </div>
            </td>
            <td class="text">
                @item.StyleName
            </td>
            <td class="text-center image-input">
                @item.NumberOfImage
            </td>
            <td class="text-center">
                <img src="~/Upload/Color/@item.ColorStyleImage" style="height:20%" />
            </td>
            <td class="text-center">
                <a class="btn btn-info btn-edit-image" data-id="@item.ColorProductId">
                    @LanguageResource.Btn_EditImage
                </a>
                <a class="btn btn-danger btn-del-product" data-id="@item.ColorProductId" data-row="0">
                    @LanguageResource.Btn_Delete
                </a>
            </td>
        </tr>
    }
}

