@model Warranty.Models.RegWarrantyCheckModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Kích hoạt bảo hành";
    MvcCaptcha regWarCaptcha = new MvcCaptcha("regWarCaptcha");
    regWarCaptcha.UserInputID = "CaptchaCodeCheck";
    bool isSerial = bool.Parse(System.Configuration.ConfigurationManager.AppSettings["isSerial"]);
}

<div class="form-horizontal">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmRegWarranty" }))
    {
        <div class="card-body">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="form-group row">
                <div class="col-sm-4 col-form-label"></div>
                <div class="col-md-8">
                    @if (isSerial)
                    {
                        <label class="label-radio">
                            <input checked="checked" id="WarrantyType_SerialNo" name="WarrantyType" type="radio" value="SerialNo">
                            Số serial
                        </label>
                        <label class="label-radio">
                            <input id="WarrantyType_OrderDelivery" name="WarrantyType" type="radio" value="OrderDelivery">
                            Số OD
                        </label>
                    }
                    else
                    {
                        <label class="label-radio">
                            <input checked="checked" id="WarrantyType_OrderDelivery" name="WarrantyType" type="radio" value="OrderDelivery">
                            Số OD
                        </label>
                    }

                </div>

            </div>
            <div class="form-group row SerialNo">
                <div class="col-sm-4 col-form-label">
                    @Html.TooltipLabelFor(p => p.SerialCheck)
                </div>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <input type="text" id="SerialCheck" name="SerialCheck" class="form-control" placeholder="Serial">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#scanQRCodeModal" onclick="startWebcam()">Quét mã QR</button>
                        </div>
                    </div>
                    <div class="text-sm text-info" style="margin-top: -15px">
                        <i>Bạn có thể kích hoạt nhiều serial, bằng cách nhập dấu phẩy sau mỗi serial. VD: 6241344, 23426235, 2532642</i>
                    </div>
                </div>
            </div>
            <div class="form-group row OrderDelivery" style="display: none">
                <div class="col-sm-4 col-form-label">
                    @Html.TooltipLabelFor(p => p.OrderDelivery)
                </div>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <input type="text" id="OrderDelivery" name="OrderDelivery" class="form-control" placeholder="Nhập số OD">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#scanOD_QRCodeModal" onclick="startWebcam1()">Quét mã QR</button>
                        </div>
                    </div>
                    <div class="text-sm text-info" style="margin-top: -15px">
                        <i>Mỗi lần kích hoạt chỉ được nhập 1 số OD</i>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4 text-right">
                    <label for="regWarCapcha" class="col-form-label">Mã xác nhận</label>
                </div>
                <div class="col-sm-8">
                    @Html.Captcha(regWarCaptcha)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4 col-form-label">
                    @Html.TooltipLabelFor(p => p.CaptchaCodeCheck)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(p => p.CaptchaCodeCheck, new { @class = "form-control", placeholder = "Mã xác nhận" })
                </div>
            </div>
            <hr />
            <div class="text-center">
                <a class="btn btn-info btn-regisWarranty text-white">Đăng ký</a>
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".btn-regisWarranty").click(function () {
                CheckWarranty();
            });
            $(".btn-checkWarranty").click(function () {
                var $btn = $(this);
                $btn.html('<div class="spinner-border text-light" role="status"></div>');
            });
            $("input[name='WarrantyType']").trigger('change');
        });

        $(document).on("change", "input[name='WarrantyType']", function () {
            var warrantyType = $("input[name='WarrantyType']:checked").val();
            if (warrantyType == "SerialNo") {
                $(".SerialNo").css("display", "flex");
                $(".OrderDelivery").css("display", "none");
            }
            else if (warrantyType == "OrderDelivery") {
                $(".SerialNo").css("display", "none");
                $(".OrderDelivery").css("display", "flex");
            }
        });

        //search button event
        function CheckWarranty() {
            var $btn = $(".btn-regisWarranty");
            $btn.html('<div class="spinner-border text-light" role="status"></div>');

            $.ajax({
                type: "POST",
                url: "/ActivedWarranty/_CheckWarranty",
                data: $("#frmRegWarranty").serializeArray(),
                success: function (response) {
                    $btn.html("Đăng ký");
                    //console.log(response);
                    if (response.Code == 500) {
                        //Mã xác nhận không đúng
                        var errorMessage = "";
                        for (var i = 0; i < response.Data.length; i++) {
                            errorMessage = response.Data[i].ErrorMessage;
                        }
                        // console.log(errorMessage);
                        Swal.fire({
                            icon: 'error',
                            text: errorMessage
                        });
                        $("#frmRegWarranty .BDC_ReloadLink")[0].click();
                    }
                    else {
                        if (response.Success == true) {
                            var warrantyType = $("input[name='WarrantyType']:checked").val();
                            if (warrantyType == "SerialNo") {
                                var serial = $("#SerialCheck").val();
                                //console.log(serial);
                                window.location.href = "/ActivedWarranty/Create?Serial=" + serial;
                            }
                            else if (warrantyType == "OrderDelivery") {
                                var OrderDelivery = $("#OrderDelivery").val();
                                window.location.href = "/ActivedWarranty/Create?OrderDelivery=" + OrderDelivery;
                            }
                        } else {
                            Swal.fire({
                                html: response.Data,
                                icon: 'warning'
                            });
                            $("#frmRegWarranty .BDC_ReloadLink")[0].click();
                        }
                    }
                },
                error: function (response) {
                    $btn.html("Đăng ký");
                    console.log(response);
                }
            });
        }
    </script>

}