@model WarehouseViewModel

@{
    ViewBag.Title = LanguageResource.Update + " " + LanguageResource.Sale_Warehouse.ToLower();
    string CurrentController = ConstController.Warehouse;
    string CurrentArea = ConstArea.Sale;

    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}

@using (Html.BeginForm("Edit", null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.WarehouseId)
    @Html.HiddenFor(p => p.WarehouseCode)
    @Html.HiddenFor(p => p.StoreId)

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @ViewBag.Title
            @HtmlExtensions.BackButton(CurrentArea, CurrentController)
        </h1>
        <div class="pull-right">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">

                    <div id="exTab1" class="nav-tabs-custom">
                        <ul class="nav nav-pills nav nav-tabs">
                            <li class="active">
                                <a href="#tab1" data-toggle="tab">@LanguageResource.Warehouse_Tab1</a>
                            </li>
                            <li>
                                <a href="#tab2" data-toggle="tab">@LanguageResource.Warehouse_Tab2</a>
                            </li>
                        </ul>

                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="tab1">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.TooltipLabelFor(p => p.CompanyId)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.RequiredTextboxFor(p => p.CompanyName, new { disabled = "disabled" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.TooltipLabelFor(p => p.StoreId)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.RequiredTextboxFor(p => p.StoreName, new { disabled = "disabled" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.TooltipLabelFor(p => p.WarehouseCode)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.RequiredTextboxFor(p => p.WarehouseCode, new { disabled = "disabled" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.TooltipLabelFor(p => p.WarehouseName)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.RequiredTextboxFor(p => p.WarehouseName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.TooltipLabelFor(p => p.WarehouseShortName)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.RequiredTextboxFor(p => p.WarehouseShortName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.TooltipLabelFor(p => p.OrderIndex)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.RequiredTextboxFor(p => p.OrderIndex)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.TooltipLabelFor(p => p.Actived)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.ActivedRadioButton(p => p.Actived)
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab2">
                                @Html.Action("_ProductWarehouse", new { id = Model.WarehouseId })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        //set event btn-save, btn-save-continue for btn-edit
        $(document).ready(function () {
            ISD.EditInitial("@CurrentUrl");
        });
    </script>
}



