
@{
    ViewBag.Title = "ErrorText";
}

<section class="content">
    <div class="error-page">
        <h2 class="headline text-red">@ViewBag.StatusCode</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-red"></i> @LanguageResource.Error_Title</h3>

            <p>
                @ViewBag.ErrorMessage
            </p>
            <p>
                @LanguageResource.Error_Message <a href="/"> đây</a>
            </p>

            <form class="search-form-error">
                <div class="input-group">
                    <input type="text" name="search" class="form-control isd-search-box typeahead error-search" placeholder="@LanguageResource.SideBar_Search">

                    <div class="input-group-btn">
                        <button type="submit" name="submit" class="btn btn-danger btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /.input-group -->
            </form>
        </div>
    </div>
</section>