@model IEnumerable<CatalogTypeModel>
@{
    string CurrentArea = ConstArea.MasterData;
    string CurrentController = ConstController.CatalogType;
}

<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.CatalogTypeCode)</th>
            <th>@Html.DisplayNameFor(p => p.CatalogTypeName)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.Actived)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
        <tr>
            <td class="text-center">@i</td>
            <td>@Html.DisplayFor(p => item.CatalogTypeCode)</td>
            <td>@Html.DisplayFor(p => item.CatalogTypeName)</td>
            <td class="text-center">@HtmlExtensions.ActivedIcon(item.Actived)</td>
            <td class="text-center">
                @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.CatalogTypeCode)
                @*@HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.CatalogText_vi, item.CatalogId)*@
            </td>
        </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>

